<div class="sluice-content-pane col-md-10 ng-scope">
  <div class="row">
    <div class="sluice-content-area col-md-12">
      <h2>Welcome to Sluice !</h2>
      
      This is a text note.<br>
      This is a <b>bold text note</b>.<br>
      This is an <i>italic text note</i>.<br>
      
      <ul>
        <li ng-repeat="river in rivers">
          {{river.name}}
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
        
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>