
/* Bootstrap customizations */
.navbar{
  margin-bottom: 0px; 
}
.navbar-default{
  background-color: #df691a;
  border-color: #df691a;
}
.navbar-brand{
  padding-top: 2px;
  padding-left: 20px;
}

/* Global element customizations. */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular-webfont.eot');
  src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
}

body{
  background-color: #faf4f1;
  font-family: 'Source Sans Pro', sans-serif;
}

input[type='range']{
  border: 0px; 
}

/* The main area (2nd column) */
.sluice-main-pane {
  min-height: calc(100% - 80px);
  overflow: hidden;
  height: auto;
}
.sluice-content-pane{
  overflow: visible;
}
.sluice-content-pane .sluice-content-area {
  padding: 0 30px 30px;
}
.sluice-content-pane .sluice-content-area > h2 {
  margin-bottom: 15px;
}

.sluice-sidebar {
  background-color: #4e5d6c;
  padding-top: 0;
  padding-right: 0 !important;
} 
.sluice-sidebar ul {
  padding-left: 0;
}
.sluice-sidebar ul li {
  margin: 40px 0 0;
  text-align: center;
  list-style: none;
}
.sluice-sidebar ul li:first-child {
  margin-top: 30px;
}  
.sluice-sidebar ul li:last-child {
  margin-bottom: 30px;
}  
.sluice-sidebar ul li.active {
  background: url(img/sidebar-active.svg) no-repeat right 22px;
}
.sluice-sidebar ul li a {
  border: none;
  color: #fff;
  padding: 0;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1em;
}
.sluice-sidebar ul li a:hover, 
    .sluice-sidebar ul li a:focus {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  border-right: 0;
}
.sluice-sidebar ul li.active a {
  background-color: transparent;
  opacity: 1;
  background-image: none;
} 
.sluice-sidebar ul li a:before {
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 42px;
  opacity: 1;
  -webkit-opacity: inherit;
  margin-bottom: 6px;
}  
.sluice-sidebar .fa {
  margin-bottom: 6px;
  display: inline;
}
.sluice-sidebar .fa:after {
  content: "\a";
  white-space: pre;
}

.panel-actions {
  position: relative;
  top: -35px;
}
